/ayuda/admin/
offszn-n8n/
*.json
*.csv
*.txt
reporte_ventas_*
Customer_List*
usuarios_brevo*
server/scratch/

# Documentos & Archivos temporales de Office
*.docx
*.doc
*.pdf
*.pptx
*.ppt
*.xlsx
*.xls
POWERPNT_*

