# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.cpp text eol=crlf
*.h text eol=crlf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.bat text eol=crlf
*.sh text eol=lf
*.iss text eol=crlf

# Web assets
*.html text eol=crlf
*.css text eol=crlf
*.js text eol=crlf
*.json text eol=crlf
*.md text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.wav binary
*.mp3 binary
*.dll binary
*.vst3 binary
*.exe binary
