/* styles/styles.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0a0a0a; /* Fondo general negro */
    color: #e0e0e0; /* Texto gris claro */
}

/* Links generales */
a {
    color: #b66cff; /* Morado OFFSZN */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Contenedores generales */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Botones globales */
button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: #b66cff;
    color: #0a0a0a;
    font-weight: bold;
    transition: background 0.2s;
}

button:hover {
    background-color: #9c4edb;
}

