/* --- Plantilla ORIGINAL --- */
.perfil-container.original {
    background-color: #1a1a1a; /* negro elegante */
    color: #e0e0e0; /* gris claro para texto */
    padding: 30px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.perfil-container.original h1 {
    color: #9b59b6; /* morado para títulos */
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.perfil-container.original p {
    font-size: 1rem;
    margin: 5px 0;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.producto-card {
    background-color: #2c2c2c;
    border: 1px solid #9b59b6;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    color: #fff;
    text-align: left;
}

.producto-card h4 {
    color: #9b59b6;
    margin-bottom: 5px;
}

.perfil-card b {
    color: #9b59b6;
}

/* Botón de mensaje */
.perfil-card .btn-mensaje {
    margin-top: 15px;
    padding: 8px 20px;
    background-color: #9b59b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.perfil-card .btn-mensaje:hover {
    background-color: #7d3c98;
}
